.artists .searchTool {
    margin-top: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 40px;
}

.modalLupaActive .artists .searchModalButton {
    bottom: 100000px;
}

.artists .searchModalButton {
    width: 100%;
    position: absolute;
    bottom: 100000px;
    border: none;
    z-index: 5;
    margin-bottom: 0px
}

.artists .searchTool form {
    width: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 95px;
    grid-column-gap: 10px;
}

.artists .searchModalButton:hover {
    background-color: var(--pinkHover);
}

.artists .searchModalButton img {
    position: absolute;
    right: 30px;
}

@media(max-width: 1024px) {

    .artists .searchModalButton {
        position: fixed;
        bottom: 0px;
        border-radius: 5px 5px 0px 0px;
    }

    .artists .searchTool form {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        transition: var(--transitionSlow);
    }

    .artists .searchTool {
        border-radius: 5px;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: -10000px;
        background-color: var(--neutral1);
        z-index: 10;
        box-shadow: 0px -203px 0px 0px var(--greyOpacity);
        height: min-content;
        border-radius: 10px;
        margin-bottom: 0px
    }

    .searchEventsModalActive .searchTool {
        bottom: 0px;
        transition: var(--transitionMedium);
    }
}