.release .releasetMain {
    display: flex;
    width: 100%;
    margin-top: 80px;
    height: 100%;
}

.release .releasetMain .photo {
    width: 50%;
    position: relative;
    height: 700px;
}

.release .releasetMain .photo {
    width: 50%;
    padding-right: 20px;
    position: relative;
    height: 720px;
}

.release .releasetMain .photo .photoArtist {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 40px)
}

.release .releasetMain figure {
    position: relative;
    height: 100%;
    border-radius: 20px;
}

.release .releasetMain .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.release .releasetMain .photo .icons {
    display: none;
}

.release .releasetMain .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 40px);
    padding-left: 40px;
}

.release .releasetMain .content .icons {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

.release .releasetMain .content .icons a {
    padding: 10px;
    display: block;
    display: flex;
    background-color: var(--neutral1);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    justify-content: center;
}

.release .releasetMain .content h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.release .releasetMain .content p {
    font-size: 14px;
}

.release .releasetMain .content .country {
    border-bottom: 1px solid var(--greyHover);
    padding: 10px 0px;
}

.release .releasetMain .content .iconWrapper {
    display: flex;
    border-bottom: 1px solid var(--greyHover);
    padding: 10px 0px;
    margin-bottom: 40px;
    gap: 10px;
}

.release .releasetMain .content .music:before {
    background-image: url(../../../assets/icone-musica.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.release .releasetMain .content .record:before {
    background-image: url(../../../assets/icone-gravadora.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.release .releasetMain .content .calendar:before {
    background-image: url(../../../assets/icone-calendario.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.release .releasetMain .content .star:before {
    background-image: url(../../../assets/icone-estrela.svg);
    content: "";
    display: block;
    width: 15px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

@media(max-width: 1025px) {

    .release .releasetMain {
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        align-items: center;
    }

    .release .releasetMain .photo {
        width: 100%;
        height: 380px;
        padding-right: 0px;
    }

    .release .releasetMain figure {
        height: 57%;
    }

    .release .releasetMain .photo .photoArtist {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .release .releasetMain .tag1 {
        display: none;
    }

    .release .releasetMain .photo img {
        width: 270px;
        height: 270px
    }

    .release .releasetMain .photoBackground {
        width: 100%;
        background-image: url(../../../assets/lançamento1.svg);
        background-size: 120%;
        filter: blur(25px);
        height: 140%;
        margin-top: -110px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 45%;
    }

    .release .releasetMain .content {
        width: 100%;
        z-index: 1;
        background-color: var(--neutral2);
        position: relative;
        padding: 0px 20px;
    }

    .release .releasetMain .content h1 {
        font-size: 24px;
        margin: 20px auto;
    }

    .release .releasetMain .content .iconWrapper {
        gap: 15px;
    }
}