.artist .artitstMain {
    display: flex;
    width: 100%;
    margin-top: 80px;
    height: 100%;
}

.artist .artitstMain .photo {
    width: 50%;
    position: relative;
    height: 700px;
}

.artist .artitstMain .photo {
    width: calc(50% - 20px);
    padding-right: 20px;
    position: relative;
    height: 720px;
}

.artist .artitstMain .photo .photoArtist {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 40px)
}

.artist .artitstMain figure {
    position: relative;
    height: 100%;
    border-radius: 20px;
}

.artist .artitstMain .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist .artitstMain .photo .icons {
    display: none;
}

.artist .artitstMain .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 40px);
    padding-left: 40px;
}

.artist .artitstMain .content .icons {
    display: flex;
    gap: 5px;
    margin-bottom: 35px;
}

.artist .artitstMain .content .icons a {
    padding: 20px;
    display: block;
    display: flex;
    background-color: var(--neutral1);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    justify-content: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.artist .artitstMain .content .icons a.insta {
    background-image: url(../../../assets/icone-instagram-branco.svg);
}

.artist .artitstMain .content .icons a.facebook {
    background-image: url(../../../assets/icone-facebook.svg);
}

.artist .artitstMain .content .icons a.spotify {
    background-image: url(../../../assets/icone-spotify.svg);
}

.artist .artitstMain .content .icons a.tiktok {
    background-image: url(../../../assets/icone-tiktok.svg);
}

.artist .artitstMain .content .icons a:hover {
    background-color: var(--greyHover);
}

.artist .artitstMain .content h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.artist .artitstMain .content p {
    font-size: 14px;
}

.artist .artitstMain .content .country {
    border-bottom: 1px solid var(--greyHover);
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

.artist .artitstMain .content .iconWrapper {
    display: flex;
    border-bottom: 1px solid var(--greyHover);
    padding: 20px 0px;
    margin-bottom: 40px;
    gap: 10px;
}

.artist .artitstMain .content .music:before {
    background-image: url(../../../assets/icone-musica.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .artitstMain .content .record:before {
    background-image: url(../../../assets/icone-gravadora.svg);
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.artist .artitstMain .content .country:before {
    background-image: url(../../../assets/icone-localizacao.svg);
    content: "";
    display: block;
    width: 15px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
}

@media(max-width: 1025px) {

    .artist .artitstMain {
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        align-items: center;
    }

    .artist .artitstMain .photo {
        width: 100%;
        height: 433px;
        padding-right: 0px;
    }

    .artist .artitstMain figure {
        height: 57%;
    }

    .artist .artitstMain .photo .photoArtist {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .artist .artitstMain .tag1 {
        display: none;
    }

    .artist .artitstMain .photo img {
        width: 270px;
        height: 270px
    }

    .artist .artitstMain .photoBackground {
        width: 100%;
        background-image: url(../../../assets/foto-artista.svg);
        background-size: 140%;
        filter: blur(25px);
        height: 140%;
        margin-top: -110px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 45%;
    }

    .artist .artitstMain .content {
        width: 100%;
        z-index: 1;
        background-color: var(--neutral2);
        position: relative;
        padding: 0px 20px;
    }

    .artist .artitstMain .content .icons {
        position: absolute;
        top: -54px;
        width: calc(100% - 40px);
        justify-content: center;
    }

    .artist .artitstMain .content .icons a {
        background-color: transparent;
        width: 25px;
        height: 25px;
    }

    .artist .artitstMain .content h1 {
        font-size: 24px;
        margin: 20px auto;
    }

    .artist .artitstMain .content .iconWrapper {
        flex-direction: column;
        gap: 15px;
        padding: 10px 0px;
        margin-bottom: 30px;
    }

    .artist .artitstMain .content .country {
        padding: 10px 0px;
    }
}