.artists .advertisement {
    margin-bottom: 80px;
}

.artists .advertisement .container {
    width: 100%
}

@media(max-width: 1025px) {

    .artists .advertisement {
        margin-bottom: 40px;
    }
}