.artists .extraContent {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.artists .containerExtra {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    width: calc(100% - 120px);
    flex-direction: column;
    gap: 80px;
    align-self: center;
}

.filterSearchMode .artists .containerExtra {
    width: calc(100% - 80px);
}

@media(max-width: 1024px) {
    .filterSearchMode .artists .containerExtra {
        width: calc(100% - 40px);
    }

    .artists .containerExtra {
        width: calc(100% - 40px);
        margin-top: 30px;
        gap: 20px;
    }
}