.artist .advertisement {
    width: 100%;
    padding: 75px 40px;
    background-color: var(--neutral7);
    height: min-content
}


@media(max-width: 1025px) {
    .artist .advertisement {
        padding: 40px 20px 40px 20px;
        height: 400px
    }
}