.artist .artistsHighlights {
    width: 100%;
    background-color: var(--neutral7);
    padding: 0px 40px;
    padding-top: 80px;
}

.artist .title {
    margin-bottom: 20px;
    font-size: 24px;
}

.artist .artistsHighlights .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.artist .artistsHighlights .owl-carousel .owl-nav {
    top: -45px;
}

@media(max-width: 1024px) {
    .artist .title {
        font-size: 18px;
    }

    .artist .artistsHighlights {
        padding-top: 25px;
        padding: 0px 20px;
    }
}