* {
    box-sizing: border-box;
}

.artist .extraContent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.artist .firstExtraContent {
    display: flex;
    flex-direction: row;
}

.artist .containerExtra {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-self: center;
}

.seeAll:hover {
    color: var(--pinkHover);
}

@media(max-width: 1024px) {}