* {
    box-sizing: border-box;
}

.about .firstContent {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--neutral1);
}

.about .firstContent .waveFirst2 {
    background-image: url(../../../assets/onda-about2.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    position: absolute;
    bottom: 5px;
    right: -193px;
    width: 790px;
    height: 488px;
    z-index: 1;
}

.about .container {
    width: 100%;
    gap: 50px;
    margin-top: 30px;
    background-image: url(../../../assets/onda-about1.svg);
    background-position: -408px 50px;
    background-repeat: no-repeat;
    background-size: 790px;
    padding-bottom: 330px;
}


@media(max-width: 1024px) {

    .about .firstContent {
        background-image: none;
        padding-bottom: 0px;
    }

    .about .container {
        padding-bottom: 170px;
        background-position: -272px -116px;
        background-size: 500px;
        margin-top: 0px;
    }

    .about .firstContent .waveFirst2 {
        background-size: 500px;
        bottom: 345px;
        right: -590px;
    }
}