.together .extraContent {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
}

.together .containerExtra {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: calc(100% - 160px);
    flex-direction: column;
    gap: 100px;
    align-self: center;
}

.filterSearchMode .together .containerExtra {
    width: calc(100% - 80px);
}

@media(max-width: 1024px) {
    .filterSearchMode .together .containerExtra {
        width: calc(100% - 40px);
    }

    .together .containerExtra {
        width: calc(100% - 40px);
        margin-top: 10px;
        gap: 50px;
    }
}