.communities .extraContent {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
}

.communities .containerExtra {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: calc(100% - 120px);
    flex-direction: column;
    gap: 100px;
    align-self: center;
}

.filterSearchMode .communities .containerExtra {
    width: calc(100% - 80px);
}

@media(max-width: 1024px) {
    .filterSearchMode .communities .containerExtra {
        width: calc(100% - 40px);
    }

    .communities .containerExtra {
        width: calc(100% - 40px);
        margin-top: 10px;
        gap: 50px;
    }
}