.communities .bestEvents {
    width: 100%;
    margin-bottom: 40px;
    z-index: 4;
    position: relative;
}

.modalLupaActive .communities .bestEvents {
    z-index: 1;
}

.communities .bestEvents .titleName {
    font-size: 56px;
    margin-bottom: 30px;
}


.communities .bestEvents .titleDescription {
    font-size: 16px;
    line-height: 1.5em;
    width: 75%;
    margin-bottom: 45px;
}

.communities .bestEvents .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.communities .bestEvents .title div {
    display: flex;
}

.communities .bestEvents .carouselBestEvents a .icon:before {
    background-image: url(../../../assets/icone-chat.svg);
    content: "";
    display: block;
    width: 30px;
    height: 40px;
    float: left;
    background-size: 30px;
    background-repeat: no-repeat;
}

@media(max-width: 1024px) {

    .communities .bestEvents .titleDescription {
        font-size: 14px;
        width: 100%;
        margin-bottom: 35px;
    }

    .communities .bestEvents .titleName {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .communities .bestEvents .title {
        margin-bottom: 20px;
    }

    .communities .bestEvents {
        margin-bottom: 50px;
    }

    .communities .bestEvents .carouselBestEvents {
        width: calc(100% - 150px);
    }

}