.artist .info {
    width: 50%;
    float: left;
}

@media (max-width: 1024px) {
    .artist .info {
        width: 100%;
        min-width: 300px;
        margin-top: 20px;
    }

    .artist .artitstMain {
        display: flex;
        height: 100%;
        margin: 0px;
        margin: 0px
    }
}