.release .launchOnTheSite {
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: min-content;
    width: 100%;
    padding: 40px 40px 10px 40px;
    background-color: var(--neutral7);
    position: relative;
}

.release .launchOnTheSite .launchWave1 {
    right: -16px;
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 200px;
    background-image: url(../../../../assets/onda-release.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

.release .launchOnTheSite a {
    padding: 15px 20px;
    background-color: var(--main1);
    border-radius: 5px;
    border: none;
    z-index: 1;
    width: max-content;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}

.release .launchOnTheSite a:hover {
    background-color: var(--pinkHover);
}

.release .launchOnTheSite .content {
    border-radius: 10px;
    background-color: var(--neutral5);
    position: relative;
    z-index: 1;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.release .launchOnTheSite iframe {
    height: 440px;
    width: 100%;
}

.release .launchOnTheSite .content .text {
    padding: 40px;
    z-index: 1;
    position: relative
}

.release .launchOnTheSite .content h2 {
    margin-bottom: 30px;
}

.release .launchOnTheSite p {
    line-height: 20px;
    margin-bottom: 20px;
}

.release .launchOnTheSite .blankPart {
    width: 100px;
    height: 100px;
    position: absolute;
    right: -100px;
    background: var(--neutral2);
    bottom: 0px;
    border-radius: 20px;
    box-shadow: -43px 52px 0px 0px #fff;
}

@media(max-width: 1024px) {
    .release .launchOnTheSite {
        padding: 40px 20px 10px 20px;
    }

    .release .launchOnTheSite .blankPart {
        display: none;
    }

    .release .launchOnTheSite .content h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .release .launchOnTheSite p {
        font-size: 14px;
    }
}