.menu {
    background-color: var(--neutral1);
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: var(--transitionMedium)
}

.menu.floated {
    z-index: 5;
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
}

.menu .containerLupa .lupaContainerItem {
    width: 30px;
    left: 5px;
    bottom: 10px;
    border: solid var(--neutral2);
    position: absolute;
    background-color: var(--neutral1);
    border: none;
}

.aboutMenu.menu.static {
    z-index: 3;
}

.menu .containerLupa .lupaContainerItem img {
    width: 100%;
}

.menu .containerLupa .closeLupa {
    width: 30px;
    right: 5px;
    bottom: 10px;
    position: absolute;
    background-color: var(--neutral1);
    border: none;
    opacity: 60%;
}

.menu .containerLupa .closeLupa:hover {
    opacity: 100%;
}

/* desativado */

.menu.floated .containerLupa,
.menu.static .containerLupa {
    position: absolute;
    width: 35%;
    right: 0px;
    margin-right: 20px;
    opacity: 0%;
    z-index: -1;
    height: 50px;
}

.menu.floated .containerHide,
.menu.static .containerHide {
    transition: var(--transitionFast);
    background-color: var(--neutral1);
    border: 3px solid var(--neutral3);
    border-radius: 5px;
    right: -10000px;
    width: 100%;
}

/* ativado */

.modalLupaActive .menu.static .lupa,
.modalLupaActive .menu.floated .lupa {
    display: block;
    opacity: 0%;
    z-index: -1;
}

.modalLupaActive .menu.static .containerHide,
.modalLupaActive .menu.floated .containerHide {
    transition: var(--transitionSlow);
    background-color: var(--neutral1);
    border-radius: 5px;
    right: 0px;
}

.modalLupaActive .menu.static .containerLupa,
.modalLupaActive .menu.floated .containerLupa {
    transition: var(--transitionFast);
    opacity: 100%;
    z-index: 1;
}

.menu .containerLupa input {
    padding: 14.5px 0px;
    background-color: var(--neutral1);
    border: none;
    margin-left: 35px;
    margin-right: 35px;
    width: calc(100% - 100px);
    transition: 1s all;
}

.menu .containerLupa input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.menu .containerHide:hover,
.menu .containerHide:focus {
    box-shadow: 0 0 2px var(--neutral7);
    border: 3px solid var(--neutral7)
}

.menu .lupa {
    border: solid var(--neutral2);
    background-color: var(--neutral1);
    border: none;
    width: 40px;
    opacity: 60%;
    transition: var(--transitionFast);
}

.menu .lupa:hover {
    opacity: 100%;
}

.bigLogo.menu .lupa {
    background-color: var(--neutral1);
}

.menu .containerLupa .modalLupa,
.menu .containerLupa .modalLupa.mobile {
    background-color: var(--neutral2);
    position: absolute;
    top: -10000px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

.inputLupaActive .menu .modalLupa.desk {
    transition: var(--transitionMedium);
    top: 67px;
    z-index: 3;
}

.menu .containerLupa .modalLupa ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.menu .containerLupa .modalLupa ul li {
    width: calc(50% - 5px);
    border-radius: 5px;
    height: 70px;
    background-color: var(--greyHover);
    transition: var(--transitionFast);
}

.menu .containerLupa .modalLupa ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.menu .containerLupa .modalLupa ul li figure {
    width: calc(35% - 10px);
    min-width: 50px;
    border-radius: 5px 0px 0px 5px;
    height: 100%;
}

.menu .containerLupa .modalLupa ul li:hover {
    opacity: 60%;
}

.menu .containerLupa .closeButtonModal {
    position: absolute;
    top: -1000px;
    transition: var(--transitionFast);
    background-image: url(../../../assets/botao-lupa-X.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: var(--neutral2);
    border: none;
}

.menu .containerLupa .seeAll {
    margin-top: 40px;
    display: block;
}

.menu .containerLupa .seeAll:hover {
    color: var(--pinkHover);
}

.menu .containerLupa .modalLupa ul li h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.menu .containerLupa .modalLupa ul li p {
    font-size: 12px;
}

.menu .containerLupa .modalLupa ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .containerLupa .modalLupa .sugestions {
    font-size: 18px;
    margin: 10px 0px;
}

.menu .containerLupa .modalLupa .textModal {
    font-size: 14px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--greyHover);
    display: block;
    text-decoration: none;
}

.menu .containerLupa .modalLupa .textModal:hover {
    color: var(--pinkHover);
}

body.menuActive .menu.floated {
    top: 0px;
    width: 100%;
    background-color: var(--neutral1);
}

body.menuActive .bigLogo.menu .logo {
    width: 45px;
    top: 10px;
}

body.menuDrop .menu.floated {
    top: 0px;
    width: calc(100% - 40px);
    box-shadow: 80px 0px 0px 0px var(--greyOpacity);
}

.menu .logo {
    width: 45px;
}

.menu nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu .links {
    display: flex;
    align-self: center;
    gap: 20px;
}

.modalLupaActive .menu .links {
    margin-right: 350px
}

.menu .links a {
    text-decoration: none;
    filter: brightness(0.9);
}

.menu .links a:hover {
    filter: brightness(3);
}

.menu .links.activeHighlight a {
    text-decoration: none;
    opacity: 40%;
    filter: brightness(1);
}

.menu .links.activeHighlight a:hover,
.menu .links.activeHighlight .highlightLink {
    opacity: 100%;
    filter: brightness(1);
}

.menu .lupa img {
    width: 100%;
}

.modalMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--neutral1);
    left: 0px;
    top: -10000px;
    z-index: 10;
    margin-bottom: 0px;
    transition: var(--transitionMedium);
    gap: 20px;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    width: calc(100% - 40px);
    box-shadow: 80px 0px 0px 0px var(--greyOpacity);
}

.modalMenu::-webkit-scrollbar {
    width: 8px;
}

.modalMenu::-webkit-scrollbar-track {
    background: var(--neutral1);
}

.modalMenu::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: 20px;
}

.modalMenu ul {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.modalMenu ul li {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid var(--greyOpacity);
    text-decoration: none;
}

.modalMenu ul li a {
    text-decoration: none;
    filter: brightness(0.9);
}

.modalMenu ul li a:hover {
    filter: brightness(3);
}

.modalMenu.activeHighlight ul li a {
    text-decoration: none;
    filter: brightness(1);
    opacity: 40%;
}

.modalMenu.activeHighlight ul li a:hover,
.modalMenu.activeHighlight ul li .highlightLink {
    opacity: 100%;
    filter: brightness(1);
}

.modalMenu .buttons {
    padding: 60px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalMenu .icons a {
    display: block;
    display: flex;
    background-color: var(--neutral2);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-content: center;
    transition: var(--transitionFast);
}

.modalMenu .icons a img {
    width: 60%;
}

.modalMenu .icons {
    display: flex;
    gap: 5px;
    padding: 0px 20px;
    margin-bottom: 60px;
}

.modalMenu .icons a:hover {
    background-color: var(--greyHover);
}

.modalMenu h2 {
    padding: 0px 20px;
    margin-top: 10px;
}

.menuDrop .modalMenu {
    top: 60px;
}

.menuDrop .menu.floated nav {
    justify-content: flex-end;
    padding: 20px;
    z-index: 3;
    padding-bottom: 40px;
}

.menuDrop .menu.floated nav .modal span {
    color: var(--greyOpacity);
}

.menuDrop .menu.floated nav img {
    display: none;
}

.menuDrop .menu.floated nav button {
    display: none;
}

.menuDrop .home .emphasis {
    z-index: 0;
}

.menuDrop .home .countdown {
    z-index: 0;
}

.modalLupaActive .backgroundModal {
    position: fixed;
    z-index: 2;
    opacity: 0%;
    content: "";
    width: 100%;
    height: 100vh;
}

.modalLupaActive .containerHide {
    position: relative
}

@media(max-width: 1024px) {

    .modalLupaActive .backgroundModal {
        opacity: 100%;
        background-color: var(--neutral2);
        z-index: 4;
        height: 100vh;
    }

    .inputLupaActive .menu .containerLupa .modalLupa.mobile {
        transition: var(--transitionMedium);
        top: 55px;
        z-index: 3;
    }

    .menu.floated {
        top: 0px;
        position: fixed;
        z-index: 10;
    }

    .menu.scroll .containerLupa .modalLupa ul {
        width: calc(100% - 20px);
    }

    .menu.scroll .containerLupa h2,
    .menu.scroll .containerLupa a {
        width: calc(100% - 20px);
    }

    .menu .containerLupa .modalLupa ul li h3 {
        font-size: 12px;
    }

    .menu .containerLupa .modalLupa ul li p {
        font-size: 10px;
    }

    .menu .containerLupa .modalLupa {
        width: 100%;
    }

    .menu .containerLupa .modalLupa .mobile {
        width: 100%;
    }

    .menu.scroll .containerLupa .modalLupa {
        overflow-y: scroll;
    }

    .menu .containerLupa .modalLupa {
        padding: 20px 0px 50px 0px;
        height: calc(100vh - 150px);
    }

    .menu .containerLupa .modalLupa::-webkit-scrollbar {
        width: 8px;
    }

    .menu .containerLupa .modalLupa::-webkit-scrollbar-track {
        background: var(--neutral1);
    }

    .menu .containerLupa .modalLupa::-webkit-scrollbar-thumb {
        background-color: var(--main1);
        border-radius: 20px;
    }

    .menu.static {
        display: none;
    }

    .menu .containerLupa .modalLupa ul li a {
        width: 100%;
        height: 100%;
    }

    .menu .containerLupa .modalLupa ul li figure {
        width: 60px
    }

    .menu .containerLupa .modalLupa ul li {
        width: 100%;
        height: 60px;
    }

    .menu .containerLupa .closeButtonModal {
        position: absolute;
        top: -60px;
        z-index: 11;
        right: 0px;
        opacity: 40%;
    }

    .menu .containerLupa .closeButtonModal:hover {
        opacity: 100%;
    }


    .modalLupaActive .menu .containerLupa {
        transition: var(--transitionSlow);
        box-shadow: 93px 0 0px 241px var(--neutral2);
        border-radius: 5px;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
        top: 100px;
    }

    .bigLogo.menu .logo {
        width: 52px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 20px;
        bottom: 0px;
        margin: 0 auto;
    }

    .backgroundMenu .bigLogo.menu .logo {
        width: 44px;
        top: 10px;
    }

    .bigLogo.menu .lupa,
    .bigLogo.menu {
        background-color: transparent
    }

    .backgroundMenu .bigLogo.menu .lupa,
    .backgroundMenu .bigLogo.menu {
        background-color: var(--neutral1)
    }

}