.menu.floated .modal {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
  right: 5px;
  opacity: 60%;
  transition: var(--transitionFast)
}

.menu.floated .modal:hover {
  opacity: 100%;
}

.menu.floated span {
  position: absolute;
  left: 5px;
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 30px;
  background: var(--neutral4);
  transition: 0.25s ease-in-out;
}

.menu.floated span:nth-child(1) {
  top: 0;
}

.menu.floated span:nth-child(2) {
  top: 8px;
}

.menu.floated span:nth-child(3) {
  top: 16px;
}

/*sinal de + --> irmão adjacente. Primeiro irmao que aparece depois, filho da mesma tag pai. */
.menuDrop .menu.floated span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

.menuDrop .menu.floated span:nth-child(2) {
  opacity: 0;
}

.menuDrop .menu.floated span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}