.news .advertisement {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 80px;
}

@media(max-width: 1025px) {

    .news .advertisement {
        position: absolute;
        left: -10000px;
    }

}