.news .advertisement {
    width: 100%;
    height: 400px;
    background-color: var(--neutral5);
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.news .advertisement.disabled {
    display: none;
}

.news .advertisement a {
    height: 90%;
    margin: auto 0;
}

@media(min-width: 1025px) {

    .news .advertisement {
        height: 130px;
        position: relative;
    }

    .news .advertisement a {
        height: min-content;
    }
}