.home .advertisement {
    width: 100%;
}

@media(min-width: 1025px) {

    .home .advertisement .container {
        height: 100%;
    }

    .lastWave {
        background-image: url(../../../assets/ultima-onda.svg);
        background-repeat: no-repeat;
        width: 800px;
        height: 1000px;
        background-position: center;
        position: absolute;
        z-index: -1;
        top: -530px;
        right: -426px;
    }
}