.home .community {
    background-color: var(--neutral5);
    border-radius: 10px;
    display: flex;
    height: 423px;
    align-content: center;
    gap: 130px;
    margin-top: 100px;
    position: relative;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.home .community .backgroundWave {
    position: absolute;
    bottom: 0px;
}

.home .community .smokeEffect {
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0px;
    z-index: 2;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ededed+0,ededed+56,ededed+56,f3f3f3+81,ffffff+96,ffffff+96,ffffff+96 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
}

.home .community .carouselCommunity {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: calc(50% - 130px);
    align-self: center;
    z-index: 1;
}

.home .community .carouselCommunity .item a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    display: block;
}

.home .community .carouselCommunity .item a p {
    line-height: 20px;
}

.home .community .carouselCommunity .item img {
    width: 150px;
}

.home .community .text {
    align-self: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-left: 100px;
    line-height: 40px;
    z-index: 1;
}


.home .community .text a {
    width: max-content;
    padding: 10px 20px;
    margin-bottom: 5px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: 10px;
    text-decoration: none;
    align-self: flex-start;
}

.home .community .text a:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}

.home .community .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: all 0.3s;
}

.home .community .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}


@media(max-width: 1024px) {
    .home .community {
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        gap: 20px;
        margin: 0px;
        border-radius: 10px;
        padding-bottom: 36px;
        margin-bottom: 50px;
    }

    .home .community .carouselCommunity {
        align-self: flex-start;
        margin-left: 40px;
        width: calc(100% - 40px);
    }

    .home .community .text {
        margin: 40px 0px 40px 0px;
        width: calc(100% - 40px);
        line-height: 25px;
    }

    .home .community .backgroundWave {
        left: -350px;
        bottom: -40px;
    }

    .home .community .carouselCommunity .item a {
        width: 150px;
    }

    .home .community .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

}

@media(max-width: 650px) {

    .home .community .carouselCommunity {
        width: 340px;
        align-self: flex-start;
        margin-left: 20px;
    }

    .home .community .carouselCommunity .item img {
        width: 100px;
    }

    .home .community .carouselCommunity .item a {
        width: 100px;
    }

    .home .community .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
}