.home .community {
    background-color: var(--neutral5);
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
    padding: 75px 0px 75px 80px;
}


.home .community .backgroundWave {
    position: absolute;
    bottom: -116px;
    background-image: url(../../../assets/onda-community.svg);
    background-repeat: no-repeat;
    background-size: 790px;
    width: 1312px;
    height: 500px;
    background-size: contain;
    left: -52px;
}

.home .community .smokeEffect {
    top: 0px;
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0px;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ededed+0,ededed+56,ededed+56,f3f3f3+81,ffffff+96,ffffff+96,ffffff+96 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0.74) 56%, rgba(237, 237, 237, 0.76) 56%, rgba(243, 243, 243, 1) 81%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 96%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
}

.home .community .carouselContainer {
    width: calc(50% - 20px);
    display: flex;
    align-self: center;
    z-index: 1;
}

.home .community .owl-carousel .owl-stage-outer {
    padding-top: 10px;
}

.home .community .carouselCommunity {
    width: 100%;
}

.home .community .carouselCommunity .item a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.home .community .carouselCommunity .item {
    width: 100%;
    transition: var(--transitionFast);
}

.home .community .carouselCommunity .item:hover {
    margin-top: -3px;
}

.home .community .carouselCommunity .item a img {
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.home .community .carouselCommunity .item a p {
    line-height: 1.5em;
    max-width: 100%;
}

.home .community .text {
    align-self: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
    z-index: 1;
    width: calc(50% - 80px);
}

.home .community .text h2 {
    line-height: 1.33em;
}

.home .community .text h3 {
    line-height: 1.5em;
}

.home .community .text a {
    width: max-content;
    padding: 15px 20px;
    margin-bottom: 5px;
    color: var(--neutral6);
    background-color: var(--main1);
    border-radius: 5px;
    text-decoration: none;
    align-self: flex-start;
    margin-bottom: 40px;
}

.home .community .text a:hover {
    background-color: var(--pinkHover);
    cursor: pointer;
}


@media(max-width: 1024px) {
    .home .community {
        flex-direction: column;
        height: min-content;
        gap: 0px;
        margin: 0px;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 60px;
        margin-bottom: 45px;
    }

    .home .community .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

    .home .community .smokeEffect {
        display: none;
    }

    .home .community .carouselContainer {
        width: 100%
    }

    .home .community .carouselCommunity .item a img {
        margin-bottom: 5px;
    }

    .home .community .carouselCommunity {
        width: calc(100% - 50px)
    }

    .home .community .text {
        width: calc(100% - 40px);
        gap: 20px;
    }

    .home .community .backgroundWave {
        bottom: -201px;
        width: 1126px;
        left: -256px;
    }

    .home .community .text a {
        margin-bottom: 20px;
    }

    .home .community .text h2 {
        font-size: 18px;
    }

    .home .community .text h3 {
        font-size: 14px;
    }

    .home .community .carouselCommunity .item a p {
        font-size: 10px;
        line-break: strict
    }
}