.home .guide {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home .guide .title {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.home .guide .text {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.home .guide .text a {
    display: flex;
    align-self: center;
}


.home .guide .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    min-width: 270px;
    align-self: flex-start;
    align-items: baseline;
}

.home .guide .item h2 {
    line-height: 25px;
}

.home .guide .item a {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
}

.home .guide a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.home .guide .title button {
    width: 20px;
    border: none;
    background-color: var(--neutral7);
}

.home .guide .owl-carousel .owl-nav {
    position: absolute;
    top: -60px;
    right: 30px;
    margin-top: 0px;
}

.home .guide .owl-nav img {
    width: 15px;
    height: 16px;
}

.home .guide .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: all 0.3s;
}

.home .guide .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}

.home .guide .carouselGuide {
    width: 100%;
}

@media (max-width: 1450px) {
    .home .guide .item {
        width: 290px;
        min-width: 290px;
    }
}

@media(max-width: 700px) {
    .home .guide .carouselGuide {
        width: 320px;
    }

    .home .guide .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
}