.singleNews .advertisement {
    width: 100%;
    padding: 0px 40px;
    padding-bottom: 80px;
    background-color: var(--neutral7);
    height: min-content;
}

.singleNews .advertisement .container {
    height: 120px;
}

@media(max-width: 1025px) {

    .singleNews .advertisement {
        padding: 0px 20px;
        padding-bottom: 35px;
    }

    .singleNews .advertisement .container {
        height: min-content;
    }

}