.releases .advertisement {
    width: 100%;
    margin-bottom: 40px;
}


@media(min-width: 1025px) {
    .releases .advertisement {
        margin-bottom: 80px;
    }

    .releases .advertisement .container {
        width: 100%;
    }

}