.releases .advertisement {
    width: 100%;
    height: 400px;
    background-color: var(--neutral5);
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.releases .advertisement a {
    height: 90%;
    margin: auto 0;
}

.filterSearchMode .releases .advertisement {
    position: absolute;
    top: -10000px;
}

@media(min-width: 1025px) {

    .filterSearchMode .releases .advertisement {
        position: absolute;
        top: 0px;
    }

    .releases .advertisement {
        height: 130px;
        position: relative;
    }

    .releases .advertisement a {
        height: min-content;
    }
}