.menu {
    background-color: var(--neutral1);
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 1s;
}

.menu.floated {
    z-index: 6;
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
}

body.menuActive .menu.floated {
    top: 0px;
    width: 100%;
}

body.menuDrop .menu.floated {
    top: 0px;
}

.menu .logo {
    width: 45px;
}

.menu nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 4;
}

.menu .links {
    display: flex;
    align-self: center;
    gap: 20px;
}

.menu .links a {
    text-decoration: none;
}


.menu .lupa {
    background-color: var(--neutral1);
    border: none;
    width: 40px;
}

.menu .lupa img {
    width: 100%;
}

.modalMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--neutral1);
    left: 0px;
    top: -10000px;
    z-index: 10;
    margin-bottom: 0px;
    transition: all 1s;
    gap: 20px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    width: 90%;
    box-shadow: 38px 47px 0px 200px rgba(33, 30, 30, 0.8);
}

.modalMenu::-webkit-scrollbar {
    width: 8px;
}

.modalMenu::-webkit-scrollbar-track {
    background: var(--neutral1);
}

.modalMenu::-webkit-scrollbar-thumb {
    background-color: var(--main1);
    border-radius: 20px;
}

.modalMenu ul {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.modalMenu ul li {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid var(--neutral3);
    text-decoration: none;
}

.modalMenu ul li a {
    text-decoration: none;
}

.modalMenu .buttons {
    padding: 80px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalMenu .icons a {
    display: block;
    display: flex;
    background-color: var(--neutral2);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-content: center;
}

.modalMenu .icons a img {
    width: 60%;
}

.modalMenu .icons {
    display: flex;
    gap: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.modalMenu h2 {
    padding: 20px;
}

.menuDrop .modalMenu {
    top: 60px;
}

.menuDrop .menu.floated nav {
    justify-content: flex-end;
    padding: 20px;
    z-index: 3;
}

.menuDrop .menu.floated nav .modal {
    margin-right: 5%;
}

.menuDrop .menu.floated nav img {
    display: none;
}

.menuDrop .menu.floated nav button {
    display: none;
}

.menuDrop .home .emphasis {
    z-index: 0;
}

.menuDrop .home .countdown {
    z-index: 0;
}

@media(max-width: 850px) {
    .menu.floated {
        top: 0px;
        position: fixed;
        z-index: 10;
    }

    .menu.static {
        display: none;
    }

}