.search .artistsHighlights {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.search .artistsHighlights .item {
    transition: var(--transitionFast);
}

.search .artistsHighlights .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .artistsHighlights .title h3 {
    font-size: 18px;
}

.search .artistsHighlights .title p {
    font-size: 14px;
}

@media(min-width: 601px) {

    .search .artistsHighlights {
        margin-bottom: 50px;
    }

}