.search .community {
    position: relative;
    margin-bottom: 65px;
}

.search .community .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .community .title h3 {
    font-size: 18px;
}

.search .community .title p {
    font-size: 14px;
}

.search .community .title h2 {
    margin-bottom: 10px;
}

.search .community .text {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.search .community .text h3 {
    font-size: 16px;
}

.search .community .item {
    width: 100%;
    transition: var(--transitionFast);
}

.search .community .item:hover {
    margin-top: -3px
}

.search .community .item div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.search .community .item h2 {
    line-height: 20px;
}

.search .community .item a {
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    display: block;
    text-decoration: none;
}

.search .community a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.search .community .carouselCommunity {
    width: calc(100% - 50px);
}

.search .community .owl-carousel .owl-stage-outer {
    overflow: visible;
}

@media (max-width: 1024px) {

    .search .community {
        margin-bottom: 70px;
    }

    .search .community .item h2 {
        font-size: 9px;
    }
}