.search .community {
    position: relative;
    margin-bottom: 50px;
}

.search .community .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .community .title h3 {
    font-size: 18px;
}

.search .community .title p {
    font-size: 14px;
}


.search .community .title h2 {
    margin-bottom: 10px;
}

.search .community .text {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.search .community .text h3 {
    font-size: 16px;
}

.search .community .SumoSelect p {
    border: none;
}

.search .community .SumoSelect>.CaptionCont>label>i {
    background-image: url(../../../assets/seta-pink.svg);
    margin-left: 30px;
    cursor: pointer;
}

.search .community .SumoSelect>.optWrapper>.options {
    background-color: var(--neutral6);
    color: var(--neutral1);
    padding: 0px 5px;
}

.search .community .SumoSelect>.optWrapper>.options li {
    margin: 5px 0px;
    border-radius: 5px;
}

.search .community .SumoSelect>.optWrapper {
    margin-top: 0px;
    width: 122px;
    left: -65px;
}

.search .community .SumoSelect>.optWrapper>.options:hover {
    color: var(--neutral7);
}

.search .community .text .filterAZ {
    display: flex;
    gap: 5px;
    align-items: center;
}

.search .community .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 160px;
    margin-top: 10px;
}

.search .community .item div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.search .community .item h2 {
    line-height: 20px;
}

.search .community .item a {
    width: 100%;
    height: 160px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    display: block;
}

.search .community a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.search .community .carouselCommunity {
    width: 100%;
}

.search .community .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.search .community .owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
    transition: all 0.3s;
}

.search .community .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}

@media (max-width: 1024px) {

    .search .community {
        margin-bottom: 70px;
    }

    .search .community .carouselCommunity {
        gap: 15px
    }

    .search .community .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100px;
        margin-top: 10px;
    }

    .search .community .item a {
        height: 100px;
    }

    .search .community .item h2 {
        font-size: 9px;
    }
}