.search .emphasis {
    width: 100%;
    height: min-content;
    margin-bottom: 40px;
    position: relative;
}

.search .emphasis .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .emphasis .carouselEvents .text h2,
.search .emphasis .carouselEvents .text p {
    color: var(--neutral1);
}

.search .emphasis .title h3 {
    font-size: 18px;
}

.search .emphasis .title p {
    font-size: 14px;
}

.search .emphasis .carouselEvents .item {
    background-color: var(--neutral5);
}

.search .emphasis .carouselEvents .item .calendar {
    background-color: var(--neutral4);
}

.search .emphasis .music:before {
    background-image: url("../../../assets/icone-musica-dark.svg");
}

.search .emphasis .star:before {
    background-image: url("../../../assets/icone-estrela-dark.svg");
}

.search .emphasis .house:before {
    background-image: url("../../../assets/icone-casa-dark.svg");
}

.search .emphasis .location:before {
    background-image: url("../../../assets/icone-localizacao-dark.svg");
    margin-top: -5px;
}

.search .emphasis .calendar:before {
    background-image: url("../../../assets/icone-calendario-dark.svg");
}


@media (max-width: 1024px) {

    .search .emphasis {
        margin-bottom: 20px;
    }

    .search .emphasis .carouselEvents .item {
        flex-direction: row;
        width: calc(100% - 30px);
        height: min-content;
        min-height: min-content;
        padding: 15px
    }

    .search .emphasis .carouselEvents {
        width: calc(100% - 30px);
    }

    .search .emphasis .carouselEvents .text .star,
    .search .emphasis .carouselEvents .text .music {
        display: none;
    }

    .search .emphasis .carouselEvents .text .calendar {
        bottom: 15px;
    }

    .search .emphasis .carouselEvents .text .iconWrapper {
        flex-direction: column;
        align-self: baseline;
    }

    .search .emphasis .carouselEvents .text {
        gap: 0px;
    }

    .search .emphasis .carouselEvents .item figure {
        width: calc(40% - 20px);
        max-width: 170px;
        min-width: 130px;
        height: calc(100% - 40px);
    }

    .search .emphasis .carouselEvents a img {
        width: 100%;
        height: 100%;
    }

    .emphasis .carouselEvents a {
        flex-direction: row;
        height: 100%;
    }
}