.search .componentGuide {
    position: relative;
    margin-bottom: 50px;
}

.search .componentGuide .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search .componentGuide .title h3 {
    font-size: 18px;
}

.search .componentGuide .title p {
    font-size: 14px;
}

.search .componentGuide .title h2 {
    margin-bottom: 10px;
}

.search .componentGuide .seeAll {
    right: -40px
}

@media (max-width: 1024px) {

    .search .componentGuide {
        margin-bottom: 20px;
    }
}