* {
    box-sizing: border-box;
}

.event .firstContent {
    background-color: var(--neutral2);
    display: flex;
    justify-content: center;
    position: relative;
}

.event .container {
    width: 100%;
    gap: 50px;
}

.event .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}

@media(max-width: 1024px) {
    .event .container {
        width: 100%;
        gap: 50px;
        margin-bottom: 0px;
        width: 100%
    }
}