.home .events {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.home .container {
    width: calc(100% - 120px);
    width: calc(100% - 120px);
    gap: 50px;
}

.home .darkWave {
    position: absolute;
    top: 87px;
    right: -194px;
}


@media(max-width: 1024px) {
    .home .container {
        width: calc(100% - 40px);
        gap: 50px;
    }

    .home .darkWave {
        display: none;
    }

}