footer {
    background-color: var(--neutral1);
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    margin-top: 100px;
}

footer .container {
    width: calc(100% - 80px);
    max-width: calc(100% - 80px);
    gap: 50px;
}

.footerWave1 {
    position: absolute;
    top: -91px;
    left: -47px;
}

.footerWave2 {
    position: absolute;
    bottom: 0px;
    left: -50px;
}

.footerWave3 {
    position: absolute;
    bottom: -280px;
    left: 57px;
    width: 723px
}

@media(max-width: 1024px) {

    footer {
        margin-top: 50px;
    }

    footer .rights .politics {
        width: 100%;
        gap: 40px;
    }
}

@media(max-width: 600px) {
    .footerWave3 {
        bottom: -218px;
        left: -141px;
        width: 657px;
    }
}