.home .advertisement {
    width: 100%;
    height: 400px;
    background-color: var(--neutral5);
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.home .advertisement a {
    height: 90%;
    margin: auto 0;
}

@media(min-width: 1025px) {
    .home .advertisement {
        height: 130px;
        position: relative;
    }

    .home .advertisement a {
        height: min-content;
    }

    .lastWave {
        position: absolute;
        z-index: -1;
        top: -359px;
        right: -426px;
    }
}